@import url("../../Fonts/style.css");

.review-container {
    /* border: 2px solid red; */
    height: 90vh;
    /* height: 80vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0%;
    color: rgb(14, 40, 71);
    padding-left: 2%;
    padding-right: 2%;
    /* padding: 80px 0; */
}

.review-container .left-contain {
    /* border: 2px solid green; */
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    font-family: "PP Neue Montreal Book";
}

.review-container .right-contain {
    /* border: 2px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.review-container .left-contain .left-header {
    /* border: 2px solid blue; */
    /* height: 40%; */
    margin: 40px;
}

.review-container .left-contain .left-btn {
    /* border: 2px solid blue; */
    height: 20%;
    margin: 0px 40px;
    padding: 5px;
    display: flex;
    gap: 20px;
}

.review-container .left-contain .left-header h1 {
    /* border: 2px solid yellow; */
    letter-spacing: -0.7px;
    font-size: 70px;
    margin-bottom: 10px;
    line-height: 115%;
}

.review-container .left-contain .left-header h3 {
    /* border: 2px solid yellow; */
    letter-spacing: -0.56px;
    font-size: 28px;
    line-height: 105%;
    font-family: 'PP Neue Montreal Book';
    font-style: normal;
    font-weight: 400;
}

.review-container .left-contain .left-btn button {
    border: 2px solid rgb(14, 40, 71);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-container .left-contain .left-btn .disable {
    border: 2px solid rgba(14, 40, 71, 0.4) !important;
}

.review-container .right-contain .comma {
    /* border: 2px solid pink; */
    text-align: right;
    transform: rotateX(180deg) rotateY(180deg);
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
}

.review-container .right-contain .comma h1 {
    font-size: 72px;
}

.review-container .right-contain .desc {
    /* border: 2px solid pink; */
    /* height: 55%; */
    margin: 0px 40px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.review-container .right-contain .desc h4 {
    letter-spacing: -0.6px;
    font-size: 30px;
    line-height: 140%;
    /* word-spacing: 3px; */
    font-weight: 400;
    font-family: 'PP Neue Montreal Book';
}

.review-container .right-contain .user {
    /* border: 2px solid pink; */
    margin: 20px 40px;
    display: flex;
    gap: 30px;
}

.review-container .right-contain .user .user-info {
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PP Neue Montreal Book';
}

.review-container .right-contain .user .user-info h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: normal;
}

.review-container .right-contain .user .user-info h6 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
}