

.intro-container {
    /* border: 2px solid red; */
    /* background: rgb(0, 0, 0); */
    background: rgb(255, 255, 255);
    height: 80vh;
    /* width: 100vw; */
    box-sizing: border-box;
    margin-bottom: 56px;
    position: relative;
    overflow: hidden;
    /* padding: 30px; */
}

.intro-container img {
    background: none;
    /* border: 2px solid green; */
    position: absolute;
    top: 8%;
    left: 4%;
}

.intro-container video {
    background: none;
    /* border: 2px solid yellow; */
    /* height: 100%; */
    width: 101%;
    cursor: pointer;
    color: white;
}

.intro-container button {
    border: 0.5px solid #F7F7F7;
    position: absolute;
    bottom: 8%;
    right: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.9);
    cursor: pointer;
}