@import url('../../../Fonts/style.css');

.board-of-directors {
  /* border: 2px solid blue; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-of-directors h3 {
  font-size: 16px;
  color: rgba(14, 40, 71, 0.7);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .6px;
  word-spacing: 2px;
  /* font-family: 'PP Neueu Montreal Book'; */
}

.directors {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  gap: 0px;
}

.directors img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-right: -10px;
}

.directors img:hover {
  scale: 1.02;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
}