@import url('../../../Fonts/style.css');

.about-stats {
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: bottom;
    margin-top: 6%;
}
  
.stat {
    /* border: 2px solid aqua; */
    /* background: linear-gradient(90deg, rgba(35, 31, 25, 0.00) 0%, rgba(35, 31, 25, 0.20) 100%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid linear-gradient(90deg, rgba(35, 31, 25, 0.20) 0%, rgba(35, 31, 25, 0.00) 100%);
    padding: 0px 80px 10px 0px;
    flex-wrap: wrap;
    position: relative;
}

.stat1::before, 
.stat2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    /* z-index: 2; */
    width: 100%;
    background: linear-gradient(90deg, rgba(35, 31, 25, 0.10) 0%, rgba(35, 31, 25, 0.00) 70%);
}
  
.stat h2 {
    color: rgb(14, 40, 71);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "PP Neue Montreal Book";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
}
  
.stat p {
    /* border: 2px solid red; */
    width: 40%;
    margin: 0;
    color: #666;
    color: #0E2847;
    text-align: left;
    font-family: "PP Neue Montreal Book";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}
  